*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.main{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.container{
  height: 200px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid black;
  margin: 30px auto;
}
.miniid{
  width: 100px;
  padding: 0.3rem;
  background-color: aqua;
  border-radius: 5px;
  margin: auto;
  margin-top: 5px;
}

.mininame{
  width: 100px;
  padding: 0.3rem;
  background-color: rgb(8, 118, 235);
  border-radius: 5px;
  
  margin: auto;
  margin-top: 5px;
}
.miniadd{
  width: 100px;
  padding: 0.3rem;
  background-color: rgb(8, 182, 235);
  border-radius: 5px;

  margin: auto;
  margin-top: 5px;
}

.miniage{
  width: 100px;
  padding: 0.3rem;
  background-color: rgb(171, 16, 223);
  border-radius: 5px;

  margin: auto;
  margin-top: 5px;
}